<div class="container">
    <div class="jumbotron">
        <h1>GitHub Search</h1>
        <div class="col-md-6">
            <app-search-form></app-search-form>
            <a href="{{ user.html_url }}" class="btn btn-success" id="view">Search</a>
        </div>

    </div>

    <div class="card">
        <!-- <h4 class="card-header">{{user.name}}</h4> -->
        <div class="card-block">
            <div class="row">
                <div class="col-xl-4 m-b-1">
                    <img src="{{user.avatar_url}}" class="profile-img img-thumbnail m-b-1" />
                    <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{user.html_url}}" target="_blank">View
          Profile</a>


                </div>



                <div class="col-md-6">
                    <table>
                        <tr>
                            <td>Github username:</td>
                            <td class="label">{{ user.login }}</td>
                        </tr>
                        <tr>
                            <td>Repositories:</td>
                            <td class="label">{{ user.public_repos }}</td>
                        </tr>

                        <tr>
                            <td>Followers:</td>
                            <td class="label">{{ user.followers }}</td>
                        </tr>
                        <tr>
                            <td>Following:</td>
                            <td class="label">{{ user.following }}</td>
                        </tr>

                        <tr>
                            <td>Location:</td>
                            <td class="label">{{ user.location}}</td>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td class="label">{{ user.email}}</td>

                        </tr>


                        <tr>
                            <td>creation date:</td>
                            <td class="label">created at {{user.created_at|date}} </td>
                        </tr>



                        <tr>
                            <td>creation date:</td>
                            <td class="label">{{ repo.name}}</td>
                        </tr>



                    </table>








                </div>
            </div>
        </div>
        <!-- 
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><b>Username: </b> {{user.login}}</li>
                <li class="list-group-item"><b>Repositosies: </b> {{user.public_repos}}</li>


                <li class="list-group-item"><b>Followers: </b> {{user.followers}}</li>
                <li class="list-group-item"><b>Following: </b> {{.user.following}}</li>


                <li class="list-group-item"><b>Location: </b> {{user.location}}</li>
                <li class="list-group-item"><b>E-Mail: </b> {{.user.email}}</li>

            </ul>
        </div> -->

        <!-- 
         <div class="status m-t-1">

    <span class="p-a-05 bg-info text-xs-center"> {{user.public_repos}} Public Repos </span>

    <span class="p-a-05 bg-danger m-t-1 text-xs-center"> {{user.followers}} Followers </span>
    <span class="p-a-05 bg-inverse m-t-1 text-xs-center"> {{user.following}} Followings </span>


</div>

 -->







        <!-- <div class="m-x-auto" *ngIf="githubUser.user == false && (githubUser.userName && githubUser.userName.length > 0)">

  <div class="starter-template text-xs-center">
    <h5>User Profile not found.</h5>
    <p class="lead">Please enter a different <b>username</b>.</p>
  </div>

</div>

<div class="m-x-auto" *ngIf="(githubUser.userName.length == 0)">

  <div class="starter-template text-xs-center">
    <h5>Search any user</h5>
    <p class="lead">Please enter a <b>username</b>.</p>
  </div>

</div> -->

        <!-- <div class="card">
    <h4 class="card-header">{{user.name}}</h4>
    <div class="card-block">
        <div class="row">
            <div class="col-xl-4 m-b-1">
                <img src="{{user.avatar_url}}" class="profile-img img-thumbnail m-b-1" />
                <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{user.html_url}}" target="_blank">View
                Profile</a>
            </div>

            <div class="col-xl-8">


                <ul class="list-group">
                    <li class="list-group-item"><b>Username: </b> {{user.login}}</li>
                    <li class="list-group-item"><b>Repositosies: </b> {{user.public_repos}}</li>


                    <li class="list-group-item"><b>Followers: </b> {{user.followers}}</li>
                    <li class="list-group-item"><b>Following: </b> {{.user.following}}</li>


                    <li class="list-group-item"><b>Location: </b> {{user.location}}</li>
                    <li class="list-group-item"><b>E-Mail: </b> {{.user.email}}</li>



                    <li class="list-group-item"><b>Member Since: </b> {{githubUser.user.created_at}}</li>
                </ul>

            </div>
        </div>

        <div class="status m-t-1">

            <span class="p-a-05 bg-info text-xs-center"> {{user.public_repos}} Public Repos </span>

            <span class="p-a-05 bg-danger m-t-1 text-xs-center"> {{user.followers}} Followers </span>
            <span class="p-a-05 bg-inverse m-t-1 text-xs-center"> {{user.following}} Followings </span>


        </div>

    </div>
</div>



</div>

</div>
<div class="col-md-7">

    <div class="card">
        <h5 class="card-header">Repos</h5>
        <div class="card-block">

            <div class="list-group">

                <a *ngFor="let repo of githubUser.repos" href="{{repo.html_url}}" target="_blank" class="list-group-item list-group-item-action"> -->
        <!-- <span class="tag tag-info pull-xs-right">{{repo.watchers}} Watchers</span>
                        <span class="tag tag-success pull-xs-right m-r-05">{{repo.forks}} Forks</span> -->
        <!-- <h6 class="list-group-item-heading">{{repo.name}}</h6> -->
        <!-- <p class="list-group-item-text">{{repo.description}}</p> -->
        <!-- </a>

            </div>
        </div> -->